<form id="bookingForm">
  {% csrf_token %}
  <div class="mb-3">
    <label for="clientNameInput" class="form-label">Ваше имя</label>
    <input type="text" class="form-control" id="clientNameInput" name="client_name" required>
  </div>
  <div class="mb-3">
    <label for="clientPhoneInput" class="form-label">Ваш номер телефона</label>
    <input type="tel" class="form-control" id="clientPhoneInput" name="client_phone" required>
  </div>
  <div class="mb-3">
    <label for="serviceInput" class="form-label">Услуга</label>
    <select class="form-select" id="serviceInput" name="service">
      <option selected disabled>Выберите услугу...</option>
      {% for service in services %}
        <option value="{{ service.pk }}">{{ service.name }}</option>
      {% endfor %}
    </select>
  </div>
  <div class="mb-3">
    <label for="masterInput" class="form-label">Мастер</label>
    <select class="form-select" id="masterInput" name="master" disabled>
      <option selected disabled>Сначала выберите услугу</option>
    </select>
  </div>
  
  <div class="mb-3" id="date-time-container" style="display: none;">
      <label class="form-label mb-2">Выберите дату и время</label>
      <div class="date-selector">
          <button type="button" class="date-arrow" id="prev-day">&lt;</button>
          <div class="date-strip"></div>
          <button type="button" class="date-arrow" id="next-day">&gt;</button>
      </div>
      <div id="time-slots-wrapper" class="mt-3">
          
      </div>
      <input type="hidden" id="selected_timeslot" name="timeslot" />
  </div>

  <button type="submit" class="btn btn-primary w-100 mt-3" disabled>Записаться</button>
</form> 