<section id="contact" class="section">
  <div class="container">
    <h2 class="section-title">Контакты</h2>
    <div class="row">
      <div class="col-md-6">
        <h4>Адрес</h4>
        <p>ул. Петровская, д.10, г.Таганрог</p>
        <h4>Телефон</h4>
        <p>+7 (908) 182-12-68</p>
        <h4>Email</h4>
        <p>info@estetika-volos.ru</p>
      </div>
      <div class="col-md-6">
        <h4>Часы работы</h4>
        <p>Пн-Пт: 9:00 - 19:00</p>
        <p>Сб-Вс: 10:00 - 20:00</p>
      </div>
    </div>
  </div>
</section>